button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
}
#calculator{
    width: 500px;
    margin: 50px auto;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    font-family: Arial,sans-serif;
    
}
#display{
    width: 91.7% ;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 15px 15px 0 0;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(39, 100%, 50%);
}
.operator-btn:hover{
    background-color: hsl(39, 100%, 60%);
}
.operator-btn:active{
    background-color: hsl(39, 100%, 75%);
}